.ff-widget {
  button, .button { padding: 5px 12px; margin-top:5px; font-size: 0.875rem; border: 1px solid #007095; @include border-radius(2px); @include box-shadow(inset 1px 1px 0 rgba(255,255,255,0.3)); }
  .alert-box.errors {
    ul { margin-bottom: 0; font-size: 0.8rem; }
  }
}