.footer-area
  .row
    .small-12.medium-7.columns
      %h2.subheader.section-quote
        "Images are the language<br>
        of the twenty-first century,<br>
        not words."
        %span -Leonard Sweet
    .small-12.medium-5.columns
      .row.section-links-social
        .small-6.columns
          %a(href='http://growingleaders.com/who-we-are' target='_blank') About Growing Leaders
          %a(href='http://growingleaders.com/who-we-are/meet-our-team/board-of-directors' target='_blank') Board of Directors
          %a(href='http://growingleaders.com/media' target='_blank') Media
          %a(href='http://growingleaders.com/contact-us' target='_blank') Contact Us
        .small-6.columns
          %a(href='https://www.facebook.com/growingleadersinc' target='_blank') Facebook
          %a(href='https://twitter.com/growingleaders' target='_blank') Twitter
          %a(href='http://growingleaders.com/blog/' target='_blank') Blog
          %a(href='mailto:info@growingleaders.com' target='_blank') Email
  .section-copyright-contact
    .row
      .copyright.small-12.medium-6.columns
        Copyright &copy; 2014 Growing Leaders
      .address.small-12.medium-6.columns
        270 Scientific Dr. NW, Suite 10 Norcross, GA 30092 USA | 770.495.3332
