.row
  .small-12.medium-12.column
    .social-more-line
.row.social-more
  .small-12.medium-6.column
    %a.module-share-button-simple(href='javascript: fbShare()')
      %i.fa.fa-facebook-square.fa-2x
      %span Share
    %a.module-share-button-simple.twitter-popup(href=general_tweet_url)
      %i.fa.fa-twitter.fa-2x
      %span Tweet
  .small-12.medium-6.columns
    %a.more-link(href='') Learn more about Habitudes &raquo;
