.auth-slider.register
  .row
    .large-12.columns
      %p.intro Enter your name and email to join Growing Leaders for Georgia. We'll send an email with your account info and how to stay up to date with the impact you’re having on students.

  %ff-simple-auth-register(fanforce-widget)
