%h5 {{visitor.first_name}}, Welcome to Growing Leaders!
%p We've made it easy for you to donate to your school of choice, follow their progress, and see your impact.

.start
  .text Ready to Get Started?

.buttons
  %a.button(href='/schools') See Schools
  %a.button(href='/donate') Donate